{% extends "base.html" %}
{% block title %} - list of Work{% endblock %}
{% block body %}
  <table class="list">
    <caption>List of <a href="{{ url_for('.list_') }}">Work</a></caption>
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for id, title in work_list %}
        <tr>
          <td><a href="{{ url_for('.page', title=title) }}">{{ title }}</a></td>
        </tr>
      {% else %}
        <tr>
          <td>No contents here now.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
