{% extends "base.html" %}
{% block body %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="header-group">
  <h1>Cliche.io</h1>
  <h2>Find My Work!</h2>
  </div>
  <div id="adv_search_container">
    <form id="adv_search" method="post" role="form" action="{{ url_for('adv_search.result') }}">
      <p id="add_desc">I can come up with more <button id="more_info" type="button">infomation(Media)</button> or <button id="more_cliche" type="button">tropes(tropes, cliche)</button></p>
      <input id="search_btn" type="submit" value="Search!">
    </form>
  </div>
  <script>
    (function($)
    {
      $(document).ready(function()
      {
        var $add_desc = $('#add_desc');

        trope_names = {{ trope_names | safe }};

        trope_id = {{ trope_id | safe }};

        $('#adv_search').submit(function()
        {
          $('.detail_name').each(function(){
            $(this).next('input[type=hidden]').val(trope_id[$(this).val()]);
          })
        });

        $('#more_info').click(function()
        {
          $add_desc.before(
            '<p class="more_query">' +
            '<input type="hidden" name="about[]" value="info">' +
            '<select name="category[]"><option value="media">Media</option></select>: ' +
            '<select name="detail[]">' +
            '<option value="Animation">Animation</option>' +
            '<option value="Film">Film</option>' +
            '<option value="TV Series">TV Series</option>' +
            '</select>' +
            '</p>'
          );
        });


        $('#more_cliche').click(function()
        {
          $add_desc.before(
            '<p class="more_query">' +
            '<input type="hidden" name="about[]" value="trope">' +
            '<select name="category[]">' +
            '<option value="0">All Tropes</option>' +
            '</select>' +
            '<input style="width: 80%" class="tags detail_name" type="text"><input type="hidden" name="detail[]">' +
            '</p>'
          );

          $( ".tags" ).autocomplete({
            source: trope_names
          });
        });
      })
    })(jQuery);
  </script>
{% endblock %}
