<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cliche.io</title>
</head>
<body>
  <header>
    <h1>Cliche.io</h1>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flush">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <ul>
      {% if g.user %}
        <li><a href="{{ url_for('.user.logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('.oauth.login', vendor='twitter') }}">Login with twitter</a></li>
      {% endif %}
    </ul>
  </main>
</body>
</html>
