@import "../bootstrap-sass/assets/stylesheets/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato:400italic,400);

@mixin make-middle($width) {
  @include make-sm-column($width);
  @include make-sm-column-push(($grid-columns - $width) / 2);
  @include make-md-column($width);
  @include make-md-column-push(($grid-columns - $width) / 2);
  @include make-lg-column($width);
  @include make-lg-column-push(($grid-columns - $width) / 2);
}

header {
  nav {
    .navbar-brand {
      font-family: 'Lobster', cursive;
    }
  }
}

main {
  @include clearfix();
  h1 {
    @include make-middle(10);
  }
  ul.flash {
    @include list-unstyled();
    @include make-middle(10);

    li {
      padding: 1rem;
    }
    @include bg-variant('li.primary', $brand-primary);
    @include bg-variant('li.success', $state-success-bg);
    @include bg-variant('li.info', $state-info-bg);
    @include bg-variant('li.warning', $state-warning-bg);
    @include bg-variant('li.danger', $state-danger-bg);
  }
}

table.list, table.page {
  @include make-middle(10);
}

table.list,
table.page,
table.page table,
table.adv_search_result {
  @include make-middle(10);

  @extend .table;
  @extend .table-bordered;

}

form#adv_search {
  @include make-middle(8);
  @extend .jumbotron;

  text-align: right;

  > * {
    clear: both;
    text-align: left;
  }

  #more_info,
  #more_cliche {
    @extend .btn;
    @extend .btn-default;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    .detail_name {
      @extend .form-control;

      display: inline-block;
      width: 70%;
    }
  }


  #search_btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
  }

  .more_query {
    background: #ddd;
    border-radius: 2rem;
    padding: 2rem;
  }
}

footer {
  p {
    text-align: center;
  }
}
